extends layout
block container
	.container
		.div.col-md-3
			.div.col-md-12(style='text-align:center;')
				label #{result.books[0].title}
			.div.col-md-12(style='text-align:center;')
				img(src='#{result.books[0].img}')
			.div.col-md-12(style='display:block;margin:auto')
				span#star1(style='display:block;margin:auto')
			.div.col-md-12(style='text-align:center;')
				span #{result.books[0].desc}
			.div.col-md-12(style='text-align:center;')
				label Price: #{result.books[0].price}
			.div.col-md-12(style='text-align:center;')
				form(method='post')
					button.btn.btn-danger(type='submit' name="bookCode" value="code1")
						i.fa.fa-shopping-cart(aria-hidden='true')
						|  Add to Cart
		.div.col-md-3
			.div.col-md-12(style='text-align:center;')
				label #{result.books[1].title}
			.div.col-md-12(style='text-align:center;')
				img(src='#{result.books[1].img}')
			.div.col-md-12(style='display:block;margin:auto')
				span#star2(style='display:block;margin:auto')
			.div.col-md-12(style='text-align:center;')
				span #{result.books[1].desc}
			.div.col-md-12(style='text-align:center;')
				label Price: #{result.books[1].price}
			.div.col-md-12(style='text-align:center;')
				button.btn.btn-danger(type='submit' name="bookCode" value="code2")
					i.fa.fa-shopping-cart(aria-hidden='true')
					|  Add to Cart

		.div.col-md-3
			.div.col-md-12(style='text-align:center;')
				label #{result.books[2].title}
			.div.col-md-12(style='text-align:center;')
				img(src='#{result.books[2].img}')
			.div.col-md-12(style='display:block;margin:auto')
				span#star3(style='display:block;margin:auto')
			.div.col-md-12(style='text-align:center;')
				span #{result.books[2].desc}
			.div.col-md-12(style='text-align:center;')
				label Price: #{result.books[2].price}
			.div.col-md-12(style='text-align:center;')
				button.btn.btn-danger(type='submit' name="bookCode" value="code3")
					i.fa.fa-shopping-cart(aria-hidden='true')
					|  Add to Cart

		.div.col-md-3
			.div.col-md-12(style='text-align:center;')
				label #{result.books[3].title}
			.div.col-md-12(style='text-align:center;')
				img(src='#{result.books[3].img}')
			.div.col-md-12(style='display:block;margin:auto')
				span#star4(style='display:block;margin:auto')
			.div.col-md-12(style='text-align:center;')
				span #{result.books[3].desc}
			.div.col-md-12(style='text-align:center;')
				label Price: #{result.books[3].price}
			.div.col-md-12(style='text-align:center;')
				button.btn.btn-danger(type='submit' name="bookCode" value="code4")
					i.fa.fa-shopping-cart(aria-hidden='true')
					|  Add to Cart
		.div.col-md-12
			.row&nbsp;			
		.div.col-md-3
			.div.col-md-12(style='text-align:center;')
				label #{result.books[4].title}
			.div.col-md-12(style='text-align:center;')
				img(src='#{result.books[4].img}')
			.div.col-md-12(style='display:block;margin:auto')
				span#star5(style='display:block;margin:auto')
			.div.col-md-12(style='text-align:center;')
				span #{result.books[4].desc}
			.div.col-md-12(style='text-align:center;')
				label Price: #{result.books[4].price}
			.div.col-md-12(style='text-align:center;')
				button.btn.btn-danger(type='submit' name="bookCode" value="code5")
					i.fa.fa-shopping-cart(aria-hidden='true')
					|  Add to Cart
		.div.col-md-3
			.div.col-md-12(style='text-align:center;')
				label #{result.books[5].title}
			.div.col-md-12(style='text-align:center;')
				img(src='#{result.books[5].img}')
			.div.col-md-12(style='display:block;margin:auto')
				span#star6(style='display:block;margin:auto')
			.div.col-md-12(style='text-align:center;')
				span #{result.books[5].desc}
			.div.col-md-12(style='text-align:center;')
				label Price: #{result.books[5].price}
			.div.col-md-12(style='text-align:center;')
				button.btn.btn-danger(type='submit' name="bookCode" value="code6")
					i.fa.fa-shopping-cart(aria-hidden='true')
					|  Add to Cart
		.div.col-md-3
			.div.col-md-12(style='text-align:center;')
				label #{result.books[6].title}
			.div.col-md-12(style='text-align:center;')
				img(src='#{result.books[6].img}')
			.div.col-md-12(style='display:block;margin:auto')
				span#star7(style='display:block;margin:auto')
			.div.col-md-12(style='text-align:center;')
				span #{result.books[6].desc}
			.div.col-md-12(style='text-align:center;')
				label Price: #{result.books[6].price}
			.div.col-md-12(style='text-align:center;')
				button.btn.btn-danger(type='submit' name="bookCode" value="code7")
					i.fa.fa-shopping-cart(aria-hidden='true')
					|  Add to Cart
		.div.col-md-3
			.div.col-md-12(style='text-align:center;')
				label #{result.books[7].title}
			.div.col-md-12(style='text-align:center;')
				img(src='#{result.books[7].img}')
			.div.col-md-12(style='display:block;margin:auto')
				span#star8(style='display:block;margin:auto')
			.div.col-md-12(style='text-align:center;')
				span #{result.books[7].desc}
			.div.col-md-12(style='text-align:center;')
				label Price: #{result.books[7].price}
			.div.col-md-12(style='text-align:center;')
				button.btn.btn-danger(type='submit' name="bookCode" value="code8")
					i.fa.fa-shopping-cart(aria-hidden='true')
					|  Add to Cart
block script
	script(src='/js/jquery.rateyo.min.js')
	script(src='/js/cart/home.js')																

